<header class="l-header">
  <div class="l-header__inner">
    <a href="/" class="l-header__logo">LOGO</a>
    <nav class="l-header__nav">
      <a href="/about/" {{#if aboutActive}}class="is-active" {{/if}}>About</a>
      <a href="#services">Services</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>